.user {
  margin: 20px 0px;
  color: #000;

  .img {
    text-align:center;
    height: 150px;

    img {
      height: 100%;
    }
  }
  .details {
    border-left:3px solid #ded4da;
  }
  .details p{
    font-size:15px;
    font-weight:bold;
  }
}
