<div class="row justify-content-center user" *ngIf="user">
  <div class="col-md-3 img">
    <img src="{{user.avatar_url}}"  alt="" class="img-rounded">
  </div>
  <div class="col-6 col-md-3 details">
    <blockquote>
      <h5>{{user.name}}</h5>
      <div><small><cite title="Source Title">Public repositories : </cite><strong>{{user.public_repos}}</strong></small></div>
      <div><small><cite title="Source Title">Followers : </cite><strong>{{user.followers}}</strong></small></div>
    </blockquote>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-6">
    <div class="row">
      <div class="col-6">
        <strong>Followers :</strong>
        <ul>
          <li *ngFor="let follower of followers">
            <a [routerLink]="['/profile', follower.login]">{{follower.login}}</a>
          </li>
        </ul>
      </div>
      <div class="col-6">
        <strong>User repositories :</strong>
        <ul>
          <li *ngFor="let repo of repositories">
            <span>{{repo.name}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
